
.tf
.swc
.idea
.vscode

.npmrc

ci
ci-cd
examples

.terraform/*
*.tfstate
*.tfstate.*

cdktf.out
cdktf.out/*
cdktf.out/**

.DS_Store

tsconfig.tsbuildinfo

.terraform
.terraform.tfstate
.terraform.tfstate.backup
.terraform.tfstate.backup.*

coverage
node_modules
