!terraform.state.json

.idea
.vscode
.eclipse

distribution

.terraform
.terraform/*
.terraform/**

*/.terraform/*
**/.terraform/**

.tfstate
*.tfstate
**/*.tfstate

*.tfstate/*
**/*.tfstate/

.terraform.lock.hcl

.DS_Store
node_modules
package-lock.json
